:root{
    --primario:#06283D;
    --secundario:#256D85;
    --terciario:#47B5FF;
    --extras:#DFF6FF;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px;
    font-family: 'Aboreto', cursive;
}

.titulo{
    text-align: center;
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    color: var(--primario);
    font-weight: 300;
}

h2{
    color: var(--extras);
    text-align: center;
    font-family:'Righteous', cursive ;
    font-size: 3rem;
    font-weight: 300;
}

.contenedor{
   max-width: 125rem;
   margin: 0 auto;
}

.navbg{
    background-color: var(--secundario);

}

.Principal{
    display: flex;
    flex-direction: column;
    

}
@media (min-width: 414px) {
    .Principal{
        width: 400 ;
        height: 2000px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
}
.Principal a{
    display: block;
    text-align: center;
    color: var(--extras);
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    padding: 2rem;
}
.Principal a:hover{
    background-color: var(--terciario);
    color: var(--primario);
}


.nadador{
    background-image: url(../IMG/MAIN.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 15%;
    position: relative;
    
}
.nadadora{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nadadora h2,
.nadadora p{
    color: var(--extras);
}
.boton{
    display: block;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2mm;
    background-color: var(--terciario);
    color: var(--extras);
    
}
 .boton:hover{
    background-color: var(--extras);
    color: black;
 }

 .Alineado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .Alineado_hijo{
    flex: 1 1 150px;
    flex: 0 1 150px;
    margin: 5px;

 }

.icono{
   
   display: flex;
   justify-content: space-around;
   
  

}

.circulo {
    display: flex;
    justify-content: space-around;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--terciario);
}

    
